@page 
@model AutoPlacApp.Pages.IndexModel
@{
    ViewData["Title"] = "O nama";
}

    <partial name="_CarouselPartial"></partial>

<div class="container mb-5">
    <div class="about-box">
        <div class="about-content text-center">
            <h2 class="section-title">O nama</h2>
            <p class="section-desc">AutoPlac je najposećeniji domaći sajt za kupovinu i prodaju automobila, drugih vozila i rezervnih delova.</p>
            <p class="section-desc">Sajt AutoPlac omogućava oglašavanje vozila i rezervnih delova, efikasno povezuje kupce i prodavce i pruža savete i informacije oko kupoprodaje vozila.</p>
        </div>
        <hr class="border-top-gray" />
        <div class="about-content text-center">
            <h2 class="section-title">Čemu težimo</h2>
            <p class="section-desc">Sajt AutoPlac želi da utiče na unapređenje i razvoj tržišta automobila kroz povećanje korišćenja Interneta u kupoprodaji vozila.</p>
            <p class="section-desc">Kupcima ovaj sajt želi da olakša donošenje prave odluke o kupovini, kroz kreiranje mogućnosti lakog upoređivanja širokog spektra ponude vozila, auto 
                usluga i rezervnih delova, kao i kroz pružanje zaokružene celine praktičnih i neophodnih informacija.</p>
            <p class="section-desc">Sajt AutoPlac omogućava oglašavanje vozila i rezervnih delova, efikasno povezuje kupce i prodavce i pruža savete i informacije oko kupoprodaje vozila.</p>
        </div>
    </div>
</div>