@page
@model PrivatnostModel
@{
    ViewData["Title"] = "Pravila o privatnosti";
}

<div class="container">
    <h1 class="col-sm-12 col-lg-5 col-md-5 text-center pt-4 pb-3">@ViewData["Title"]</h1>
    <div class="border-top pb-4"></div>
    <div class="row">
        <div class="col-sm-0 col-lg-2 col-md-2"></div>
        <div class="col-sm-12 col-lg-10 col-md-10">
            <p class="fw-bold">Informacije o zaštiti podataka za Vebsajt</p>

            <p>Vebsajt www.autoplac.com</p>

            <p>
                Mi smo posvećeni zaštiti vaših ličnih podataka i poštujemo važeće zakone o zaštiti podataka, posebno Uredbu (EU) 2016/679 o zaštiti fizičkih lica vezano za obradu ličnih podataka i slobodno
                kretanje takvih podataka i koja poništava Uredbu 95/46/EZ (Opšta uredba EU o zaštiti podataka ili „GDPR“) i odgovarajuće zakonodavstvo Srbije vezano za zaštitu ličnih podataka.
            </p>

            <p>
                U ovoj Informacije o zaštiti podataka objašnjavamo koje informacije (uključujući i lične podatke) se obrađuju u vezi sa vašom posetom i korišćenjem gore navedene digitalne ponude („Vebsajt“).
            </p>

            <p>
                Detaljne informacije se nalaze na povezanim podacima:
            </p>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Informacije o zastiti podataka - Obrada podataka o kupcima</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Informacije o zastiti podataka - Obrada podataka pruzalaca usluga/dobavljaca</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Informacije o zastiti podataka - Obrada podataka zaposlenih</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Informacije o zastiti podataka poslovnih partnera - Obrada podataka poslovnih partnera</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Informacije o zastiti podataka za marketing</a>
                </li>           
            </ul>
        </div>
    </div>
</div>
