<div class="container" style="margin-bottom: 5rem;">
    <div id="carouselExampleDark" class="carousel carousel-dark slide carousel-fade">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" class="active" aria-current="true" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item" data-bs-interval="2000">
                <img src="~/images/carleft.svg" class="d-block w-100">
            </div>
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="~/images/logo.jpg" class="d-block w-100" />
                <div class="carousel-caption" role="option">
                    <p>
                        <a type="button" class="btn btn-outline-dark-r" asp-page="/Auta/Index">
                           Pogledaj ponude
                        </a>
                    </p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="~/images/carright.svg" class="d-block w-100" />
            </div>
        </div>
    </div>
</div>
